<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="0.13.0" targetFramework="net45" />
  <package id="angularjs" version="1.4.2" targetFramework="net45" />
  <package id="bootstrap" version="3.3.4" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.14.30" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.14.30" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="Moment.js" version="2.9.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap.Less" version="3.3.5" targetFramework="net45" />
</packages>